@use 'reset';
@use 'variables/global';

.app {
  font: var(--font-l);

  background: rgba(212, 253, 196, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}
